Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-MySQLdb==1.0.1
Flask-SocketIO==5.3.6
mysqlclient==2.2.0
python-dotenv==1.0.0
Werkzeug==2.3.7
opencv-python==4.8.1.78
numpy==1.26.2
Pillow==10.1.0
python-engineio==4.8.0
python-socketio==5.10.0